/INSTALL
/_tmpinst
/aclocal.m4
/autom4te.cache
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/*.pc
/stamp-h
/stamp-h.in
/stamp-h1
/tmpinst-dir.stamp
/missing
/compile
/depcomp
/install-sh
Makefile
Makefile.in
*.mdb
*.exe
*.dll
*.tree
*.zip
